{{#each person in controller}}
{{person.firstName}} <button {{action 'removePerson' person}}>Remove</button><br />
{{/each}}

<br /><br />
{{input placeholder="first name" value=firstName}}
<br /><input type="submit" {{action 'addPerson'}} value="submit" />
